################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/20180619_0_맵툴/.vs/windowAPI/v15/ipch/5164519c78003dd1.ipch
